.tag {
  background-color: #dedede;
  border-radius: 4px;
  margin-bottom: 2px;
  margin-top: 2px;
  padding: 3px;
  display: inline-block;
  border: 1px solid;
}

.external-link-icon {
  font-size: 8px;
}

.p-block {
  word-wrap: break-word;
  word-break: break-word;
}

.scrollable-block {
  overflow-y: auto;
  max-height: 300px;
  margin-top: 6px;
  width: 100%;
  border: 1px solid border-color;

  &.padded {
    padding: 5px;
  }
}

.observable-item {
  margin-top: 12px;
}

.relationship-container {
  margin-top: 5px;
}

.relationship-item {
  margin-top: 12px;
}

.p-title {
  margin-bottom: 1px;
}

.expandable-title {
  display: block;
  color: #5ccd18 !important;
  font-weight: 600;
  margin-bottom: 5px;
  .text {
    color: #5ccd18 !important;
    border-bottom: 1px solid #5ccd18;
    .desc {
      color: black !important;
      font-weight: 400 !important;
    }
  }
}

.p-key {
  font-weight: bold;
}

.header-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center; /* Align items vertically in the center */
  height: 100px;
  margin-top: 100px;
}

.value {
  word-break: break-word;
  margin-left: 8px; /* Added margin to the left of values */
  white-space: nowrap; /* Prevent line breaks within values */
}

.header-item {
  /* Other styles... */
  display: flex;
  flex-direction: row; /* Stack items vertically */
  justify-content: flex-start; /* Distribute space evenly between items */
  align-items: flex-start; /* Align items to the start of the container */
  margin-bottom: 10px; /* Add space below each item */
  transition: max-height 0.3s ease-out;
  max-height: 20px; /* Adjust this value to fit your initial content */
  margin-top: 10px;
  overflow: hidden;
}

.relationship-card.expanded .header-item {
  max-height: 100px; /* Adjust this value to fit your expanded content */
  transition: max-height 0.3s ease-in;
}

.card-header {
  /* Other styles... */
  position: relative; /* Set the reference point for absolute positioning */
}

.expandable-information {
  /* Other styles... */
  position: absolute; /* Position the element absolutely */
  bottom: 0; /* Align the element to the bottom of the parent */
  right: 0; /* Align the element to the right of the parent */
  display: flex; /* Make the children inline */
  align-items: center; /* Vertically align the children in the middle */
  gap: 5px; /* Add some space between the children */
}
