.tag {
  background-color: #dedede;
  border-radius: 4px;
  margin-bottom: 2px;
  padding: 3px;
  display: inline-block;
  border: 1px solid;
}

.external-link-icon {
  font-size: 8px;
}

.p-block {
  word-wrap: break-word;
  word-break: break-word;
}